*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 239, 239);
}

header{
    width: 100%;
    height: 150px;
    
}
.banner-promo {
    width: auto;
    height: 50px;
    background-color:rgb(57, 155, 102, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-promo h1 {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Archivo', sans-serif;
    color:rgb(230, 255, 250);
    
}
nav {
    width:100%;
    height: 70px;
    margin-top: 15px;
}
.logo-principal {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;

}
.logo-principal img {
    width: 70px;
}
.nav-navegador {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 15px;
}
.nav-links {
    width: 80%;
    display: flex;
    justify-content:space-around;
}

.nav-links  li{
    list-style: none;
    width: auto;
    height: auto;
}
.nav-links li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Archivo' , sans-serif;
    color: black;
    font-weight: bold;
}

.nav-iconos{
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-iconos li{
    list-style: none;
}

.img-principal{
    width: 100%;
    height: auto;
}
.img-principal img{
    width: 100%;
    height: auto;
    max-height:850px;
    display: block;
    object-fit: cover;
}

.div-sesion{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.div-sesion img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
.div-sesion h2{
    font-family: 'Archivo', sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
}
.div-sesion form{
    border: 2px solid black;
    background-color:azure;
    width: 600px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-sesion form label{
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    margin: 20px 0 10px 0;
}
.div-sesion form input{
    width: 80%;
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
}
.div-sesion form button{
    width: 50%;
    height: 50px;
    margin-top: 30px;
    font-size: 22px;
    font-family: 'Archivo', sans-serif;
    background-color: rgb(57, 155, 102, 1);
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}


footer{
    width: 100%;
    height: 200px;
    background-color: rgb(57, 155, 102, 1);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-links{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.footer-links ul{
    width: 95%; /*unica manera que quede centrado, revisar despues porque supongo sera algo del div padre*/
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.footer-links ul li{
    list-style: none;
}
.footer-links ul li a{
    text-align: center;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: 28px;
    color: rgb(209, 209, 209);
}
.footer-socialmedia{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px ;
}
.footer-socialmedia ul{
    width: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-socialmedia ul li{
    list-style: none;
}
.footer-socialmedia ul li a img{
    width: 45px;
    height: 45px;
}
.footer-texto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.footer-texto p{
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    color: rgb(230, 255, 250);
    margin-bottom: 10px;
}