@import url(animaciones.css);

* {
    box-sizing: border-box;
    margin: 0;
   background-color: rgb(233, 230, 230); 
}
header{
    overflow: hidden;
}
.header-h1{
    font-family:"Zurich Extended", sans-serif ;
    text-align: center;
    font-size: 35px;
    color: steelblue;
    /*background-color: seashell; */
    padding: 10px;
    margin: 1px 1px 1px 1px;
    animation: ScroolBanner 18s forwards infinite;
}

nav{
    text-decoration: none;
    color: black;
    
    
    img {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        box-shadow: 0 4px 2px -2px gray;
    }
    ul li{
        list-style-type: none;
        padding: 10px;
        font-family: "Zurich Extended", sans-serif;
        font-size: 25px;
    }
    ul li a {
        text-decoration: none;
        color: black;
        transition: color 0.3s ease;
    }
    ul li a:hover {
        color: steelblue;
    }
}

    .nav-bar-icons-search {
        margin: 10px;
        display: flex;   
        input {            
            width: 45%;
            height: 32px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 5px;
            font-size: 18px;
        }

        button {
            margin: 0 0 0 5px ;
            background-color: steelblue;
            color: white;
            
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
        }
        img{
            
            width: 30px;
            height: 30px;
            
        }
    }


